version: '3.8'

services:

  rosadog-public:
    container_name: rosadog-public
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    networks:
      - proxy
    expose:
      - "80"
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VIRTUAL_HOST=www.test.rosadog.de, www.test.rosadog.com
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=www.test.rosadog.de, www.test.rosadog.com
      - LETSENCRYPT_EMAIL=info@rosadog.de
networks:
  proxy:
    external:
      name: nginx-proxy